---

# Очистка данных

***Мусор на входе модели $\to$ мусор на выходе.***

Ни одна модель машинного обучения не выдаст осмысленных результатов, если вы предоставите ей сырые данные. После формирования выборки данных их необходимо очистить.

In [68]:
#main
import pandas as pd
import numpy as np

#plot
from matplotlib import pyplot as plt
import seaborn as sns

#plot
from matplotlib import pyplot as plt
import seaborn as sns

#
from tqdm import tqdm 
import re

pd.set_option("display.max_columns", 300)


# Имеем :
PATH_TRAIN = './data/train_sber.csv'
PATH_MACRO = './data/macro.csv'

**У нас есть достаточно большой DataSet с кучей признаков много пропусков и мусорных значений. Будем обрабатывать!**

In [108]:
df = pd.read_csv(PATH_TRAIN)
df_makro = pd.read_csv(PATH_MACRO)
df_y = df['price_doc']
df.drop(columns='price_doc', axis=1, inplace=True)

**Для заполнения ошибочных значений надо вникнуть в суть признаков и определить их целесообразность  
В папке data/ файл data_dictionary.txt содержит описание всех признаков, посмотрим их**

В первую очередь можно заметить что первые 13 признаков это данные самой транзакции, а далее это различные характеристики района

In [109]:
df.iloc[:, 0:13].head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Mitino
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Basmannoe

Это важные признаки назавем их:

Признаки I очереди
---

id timestamp full_sq life_sq floor max_floor material build_year num_room kitch_sq state product_type sub_area

Для построения модели они болие важны

In [110]:
df_x1 = df.iloc[:, 0:13]

In [111]:
df[df['sub_area'] == 'Mitino'].iloc[:, 12:]

,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
3,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,4,1.489049,0.984537,11.565624,0.963802,0.179441,0.236455,0.078090,0.106125,0.451173,15.62371,2.017080,14.31764,4.291432,51.497190,4.0,3.816045,5.271136,4,0.131597,1.579164,1.200336,no,2.677824,14.606501,17.457198,18.309433,19.487005,2.677824,1,no,2.780449,17,1.999265,no,17.478380,83,6.734618,1,27.667863,9.522538,6.348716,1.767612,11.178333,0.583025,27.892717,0.811275,0.623484,1.950317,6.483172,7.385521,4.923843,3.549558,8.789894,2.163735,10.903161,0.622272,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,15.300449,16.990677,16.041521,5.029696,0.465820,good,17.36,0.57,0,0,0,0,2,1000.0,1500.00,1250.00,0,0,0,2,0,0,0,0,0,0,0,0,0,19.25,10.35,1,11000,6,80780,12,658.33,1083.33,870.83,0,3,4,5,0,0,0,0,0,0,0,3,1,28.38,6.57,2,11000,7,89492,23,673.91,1130.43,902.17,0,5,9,8,1,0,0,1,0,0,0,9,2,32.29,5.73,2,11000,7,89492,25,660.00,1120.00,890.00,0,5,11,8,1,0,0,1,1,0,0,13,2,20.79,3.57,4,167000,12,205756,32,718.75,1218.75,968.75,0,5,14,10,3,0,0,1,2,0,0,18,3,14.18,3.89,8,244166,22,942180,61,931.58,1552.63,1242.11,4,7,21,15,11,2,1,4,4,0,0,26,3
45,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,37,2.256099,1.050361,11.322397,0.943533,0.958374,0.631866,0.973781,0.038323,0.729962,16.72718,1.716977,12.96564,2.768540,33.222483,4.0,2.293152,3.809588,4,0.251965,3.023579,0.237405,no,1.360070,13.098163,15.919464,16.767148,17.948904,1.250606,17,no,1.262772,37,0.830094,no,15.955488,83,5.211726,1,26.106378,8.011495,4.791516,0.776332,10.213220,0.503765,26.369825,2.055468,0.355630,2.092051,7.601761,5.862628,3.363875,2.446504,7.267002,3.358131,9.380269,1.016728,0.553097,0.654486,1.028768,0.631866,0.683363,0.000000,13.915847,15.467785,14.654618,3.703364,0.406221,good,50.07,0.00,0,0,0,0,1,500.0,1000.00,750.00,0,0,1,0,0,0,0,0,1,0,0,2,0,37.18,2.86,2,11000,4,48264,10,780.00,1350.00,1065.00,0,1,5,2,2,0,0,1,1,0,0,2,0,22.90,5.43,4,167000,9,125744,17,700.00,1205.88,952.94,0,3,8,4,2,0,0,1,1,0,0,11,0,21.66,8.01,4,167000,12,163044,26,757.69,1288.46,1023.08,0,4,11,7,4,0,0,1,1,0,0,16,1,22.43,7.98,8,244166,21,874180,45,835.56,1400.00,1117.78,0,7,19,12,5,1,1,4,4,0,0,19,3,17.33,5.88,14,499392,34,1217838,92,905.95,1505.95,1205.95,8,12,30,24,13,4,1,5,7,0,1,38,5
194,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,29,1.186777,0.574803,6.897630,0.574803,0.100059,0.269499,0.816232,0.580191,0.751351,14.82338,1.430317,14.17678,4.662959,55.955509,4.0,4.187571,5.760365,4,0.229721,2.756650,0.804900,no,2.665064,15.093459,17.880647,18.719746,19.908834,2.665064,1,no,3.262064,17,2.731992,no,17.849907,83,7.106145,1,27.953939,10.010059,6.619216,1.736051,10.745769,1.467659,28.264243,0.605214,0.280919,1.620089,7.776610,7.757047,5.232555,3.386866,9.161421,3.457173,11.274688,0.269499,0.458426,1.170932,0.517299,0.499797,1.339602,1.447997,15.192874,17.362204,16.668906,4.965271,0.089364,good,0.00,0.00,0,0,2,12012,8,875.0,1437.50,1156.25,0,0,3,4,1,0,0,0,0,0,0,2,2,16.27,0.86,0,0,7,89492,15,726.67,1200.00,963.33,0,3,5,6,1,0,0,0,0,0,0,5,2,32.39,3.27,2,11000,8,157492,22,681.82,1136.36,909.09,0,5,8,8,1,0,0,1,1,0,0,6,3,33.20,6.65,2,11000,8,157492,24,687.50,1145.83,916.67,0,5,9,9,1,0,0,1,1,0,0,6,3,21.74,3.57,3,37000,13,213256,33,706.06,1196.97,951.52,0,6,14,10,3,0,0,1,2,0,0,17,3,16.50,3.52,8,244166,24,959680,60,876.79,1464.29,1170.54,4,7,22,16,9,1,1,6,5,0,1,25,3
350,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,37,2.256099,1.050361,11.322397,0.943533,0.958374,0.631866,0.973781,0.038323,0.729962,16.72718,1.716977,12.96564,2.768540,33.222483,4.0,2.293152,3.809588,4,0.251965,3.023579,0.237405,no,1.360070,13.098163,15.919464,16.767148,17.948904,1.250606,17,no,1.262772,37,0.830094,no,15.955488,83,5.211726,1,26.106378,8.011495,4.791516,0.776332,10.213220,0.503765,26.369825,2.055468,0.355630,2.092051,7.601761,5.862628,3.363875,2.446504,7.267002,3.358131,9.380269,1.016728,0.553097,0.654486,1.028768,0.631866,0.683363,0.000000,13.915847,15.467785,14.654618,3.703364,0.406221,good,50.07,0.00,0,0,0,0,1,500.0,1000.00,750.00,0,0,1,0,0,0,0,0,1,0,0,2,0,37.18,2.86,2,11000,4,48264,10,780.00,1350.00,1065.00,0,1,5,2,2,0,0,1,1,0,0,2,0,22.90,5.43,4,167000,9,125744,17,700.00,1205.88,952.94,0,3,8,4,2,0,0,1,1,0,0,11,0,21.66,8.01,4,167000,12,163044,26,757.69,1288.46,1023.08,0,4,11,7,4,0,0,1,1,0,0,16,1,22.43,7.98,8,244166,21,874180,45,835.56,1400.00,1117.78,0,7,19,12,5,1,1,4,4,0,0,19,3,17.33,5.88,14,499392,34,1217838,92,905.95,1505.95,1205.95,8,12,30,24,13,4,1,5,7,0,1,38,5
358,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,29,0.878461,0.448414,5.380969,0.448414,0.149623,0.299757,0.842530,0.563693,0.707484,14.82828,1.372859,14.11817,4.579776,54.957315,4.0,4.104388,5.448429,4,0.171636,2.059636,0.774507,no,2.611748,15.058636,17.843191,18.681600,19.871311,2.611748,1,no,3.233241,37,2.724324,no,17.766724,83,7.022962,1,27.908828,9.977744,6.575504,1.677215,10.685262,1.496057,28.181061,0.522031,0.333139,1.493700,7.693427,7.673864,5.191571,3.329603,9.078238,3.373990,11.191505,0.299757,0.412771,1.142397,0.471044,0.474366,1.312241,1.391474,15.134869,17.279021,16.646459,4.909599,0.063347,good,0.00,0.00,0,0,2,12012,8,875.0,1437.50,1156.25,0,0,3,4,1,0,0,0,0,0,0,2,2,15.36,1.10,0,0,7,89492,15,726.67,1200.00,963.33,0,3,5,6,1,0,0,0,0,0,0,6,2,32.24,3.27,2,11000,8,157492,22,681.82,1136.36,909.09,0,5,8,8,1,0,0,1,1,0,0,6,3,33.10,6.74,2,11000,8,157492,24,687.50,1145.83,916.67,0,5,9,9,1,0,0,1,2,0,0,6,3,22.05,3.57,3,37000,14,273256,33,706.06,1196.97,951.52,0,6,14,10,3,0,0,1,2,0,0,17,3,16.77,3.62,8,244166,24,959680,61,878.95,1464.91,1171.93,4,7,22,17,9,1,1,6,5,0,1,25,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30376,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,4,1.097999,0.617664,7.411972,0.617664,0.966834,0.637511,0.601027,0.126831,0.485506,16.36322,1.950571,12.97621,2.784943,33.419322,4.0,2.309556,3.083111,4,0.152061,1.824735,0.339574,no,1.331232,13.381107,16.177988,17.020559,18.206690,1.331232,1,no,1.551917,37,1.141171,no,15.971891,83,5.228129,1,26.311907,8.296632,4.976837,0.534423,10.074038,0.231913,26.386228,1.716001,0.395782,1.821804,7.533057,5.879032,3.563632,2.316704,7.283405,3.213620,9.396672,0.661195,0.657897,0.327092,1.030736,0.637511,0.388481,0.376053,13.943845,15.484188,14.985287,3.687917,0.558216,good,12.52,0.29,1,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,1,1,0,0,1,0,30.60,7.02,2,11000,8,116080,13,646.15,1115.38,880.77,0,3,6,3,1,0,0,1,1,0,0,4,0,26.65,5.28,4,167000,10,129044,21,700.00,1190.48,945.24,0,4,9,6,2,0,0,1,1,0,0,13,1,23.84,6.97,4,167000,11,137756,27,729.63,1240.74,985.19,0,4,12,8,3,0,0,1,1,0,0,15,2,23.98,7.25,8,244166,16,247256,42,859.52,1428.57,1144.05,0,7,16,12,5,1,1,4,4,0,0,18,3,17.81,5.81,12,429442,31,1149838,89,911.11,1518.52,1214.81,8,11,30,22,13,4,1,5,5,0,1,36,5
30419,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,37,2.256099,1.050361,11.322397,0.943533,0.958374,0.631866,0.973781,0.038323,0.729962,16.72718,1.716977,12.96564,2.768540,33.222483,4.0,2.293152,3.809588,4,0.251965,3.023579,0.237405,no,1.360070,13.098163,15.919464,16.767148,17.948904,1.250606,17,no,1.262772,37,0.830094,no,15.955488,83,5.211726,1,26.106378,8.011495,4.791516,0.776332,10.213220,0.503765,26.369825,2.055468,0.355630,2.092051,7.601761,5.862628,3.363875,2.446504,7.267002,3.358131,9.380269,1.016728,0.553097,0.654486,1.028768,0.631866,0.683363,0.000000,13.915847,15.467785,14.654618,3.703364,0.406221,good,50.07,0.00,0,0,0,0,1,500.0,1000.00,750.00,0,0,1,0,0,0,0,0,1,0,0,2,0,37.18,2.86,2,11000,4,48264,10,780.00,1350.00,1065.00,0,1,5,2,2,0,0,1,1,0,0,2,0,22.90,5.43,4,167000,9,125744,17,700.00,1205.88,952.94,0,3,8,4,2,0,0,1,1,0,0,11,0,21.66,8.01,4,167000,12,163044,26,757.69,1288.46,1023.08,0,4,11,7,4,0,0,1,1,0,0,16,1,22.43,7.98,8,244166,21,874180,45,835.56,1400.00,1117.78,0,7,19,12,5,1,1,4,4,0,0,19,3,17.33,5.88,14,499392,34,1217838,92,905.95,1505.95,1205.95,8,12,30,24,13,4,1,5,7,0,1,38,5
30427,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,29,1.076251,0.366401,4.396808,0.366401,0.451285,0.307865,1.061521,0.273574,0.509264,14.89080,1.021143,13.73214,4.234434,50.813203,4.0,3.993959,5.698034,4,0.157569,1.890827,0.707013,no,2.259972,14.816262,17.583700,18.417663,19.611103,2.259972,1,no,3.039156,37,2.638970,no,17.341682,83,6.597920,1,27.601072,9.753308,6.280965,1.292257,10.295321,1.538212,28.229458,0.551879,0.344340,0.791179,7.910889,7.248823,4.916437,2.952539,8.968767,3.591453,10.766463,0.607038,0.207495,1.002815,0.273396,0.307865,1.171336,1.049362,14.751960,16.853979,16.454604,4.541214,0.129553,good,5.05,0.00,0,0,1,8712,6,800.0,1333.33,1066.67,0,1,2,2,1,0,0,0,0,0,0,1,1,18.57,2.79,0,0,7,89492,21,700.00,1166.67,933.33,0,4,8,8,1,0,0,0,0,0,0,6,2,26.09,5.22,2,11000,7,89492,22,681.82,1136.36,909.09,0,5,8,8,1,0,0,1,1,0,0,6,3,29.67,6.26,2,11000,9,187492,26,730.77,1211.54,971.15,0,5,9,10,2,0,0,1,2,0,0,7,3,23.87,3.59,4,167000,15,281256,34,694.12,1176.47,935.29,0,7,14,10,3,0,0,2,3,0,0,18,3,18.03,4.10,8,244166,28,1084560,68,859.38,1429.69,1144.53,4,10,23,19,10,1,1,6,6,0,1,32,4
30444,Mitino,12583535.69,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,37,2.256099,1.050361,11.322397,0.943533,0.958374,0.631866,0.973781,0.038323,0.729962,16.72718,1.716977,12.96564,2.768540,33.222483,4.0,2.293152,3.809588,4,0.251965,3.023579,0.237405,no,1.360070,13.098163,15.919464,16.767148,17.948904,1.250606,17,no,1.262772,37,0.830094,no,15.955488,83,5.211726,1,26.106378,8.011495,4.791516,0.776332,10.213220,0.503765,26.369825,2.055468,0.355630,2.092051,7.601761,5.862628,3.363875,2.446504,7.267002,3.358131,9.380269,1.016728,0.553097,0.654486,1.028768,0.631866,0.683363,0.000000,13.915847,15.467785,14.654618,3.703364,0.406221,good,50.07,0.00,0,0,0,0,1,500.0,1000.00,750.00,0,0,1,0,0,0,0,0,1,0,0,2,0,37.18,2.86,2,11000,4,48264,10,780.00,1350.00,1065.00,0,1,5,2,2,0,0,1,1,0,0,2,0,22.90,5.43,4,167000,9,125744,17,700.00,1205.88,952.94,0,3,8,4,2,0,0,1,1,0,0,11,0,21.66,8.01,4,167000,12,163044,26,757.69,1288.46,1023.08,0,4,11,7,4,0,0,1,1,0,0,16,1,22.43,7.98,8,244166,21,874180,45,835.56,1400.00,1117.78,0,7,19,12,5,1,1,4,4,0,0,19,3,17.33,5.88,14,499392,34,1217838,92,905.95,1505.95,1205.95,8,12,30,24,13,4,1,5,7,0,1,38,5

___

Можно заметить что от sub_area до ID_metro признаки отнасительно района и все индетичны: выделим это в отдельный dataset И поработаем с ним позже

In [112]:
df_sub_area = df.loc[:,'sub_area': 'build_count_after_1995']
df.drop(columns=df.loc[:,'area_m': 'build_count_after_1995'].columns, axis=1, inplace=True)

In [54]:
df.loc[:, 'ID_metro':].head()

,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2.590241,1.131260,13.575119,1.131260,0.145700,0.177975,2.158587,0.600973,1.080934,23.683460,1.804127,3.633334,5.419893,65.038716,1.0,5.419893,6.905893,1,0.274985,3.299822,0.992631,no,1.422391,10.918587,13.100618,13.675657,15.156211,1.422391,1,no,3.830951,5,1.305159,no,14.231961,101,24.292406,1,18.152338,5.718519,1.210027,1.062513,5.814135,4.308127,10.814172,1.676258,0.485841,3.065047,1.107594,8.148591,3.516513,2.392353,4.248036,0.974743,6.715026,0.884350,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,3.932040,14.053047,7.389498,7.023705,0.516838,good,0.00,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,7.36,0.00,1,30500,3,55600,19,527.78,888.89,708.33,1,10,4,3,1,0,0,1,2,0,0,6,1,14.27,6.92,3,39554,9,171420,34,566.67,969.70,768.18,1,14,11,6,2,0,0,1,2,0,0,7,1,11.77,15.97,9,188854,19,1244891,36,614.29,1042.86,828.57,1,15,11,6,2,1,0,1,2,0,0,10,1,11.98,13.55,12,251554,23,1419204,68,639.68,1079.37,859.52,5,21,22,16,3,1,0,2,4,0,0,21,1,13.09,13.31,29,807385,52,4036616,152,708.57,1185.71,947.14,12,39,48,40,9,4,0,13,22,1,0,52,4,5850000
1,2,0.936700,0.647337,7.620630,0.635053,0.147754,0.273345,0.550690,0.065321,0.966479,1.317476,4.655004,8.648587,3.411993,40.943917,2.0,3.641773,4.679745,2,0.065263,0.783160,0.698081,no,9.503405,3.103996,6.444333,8.132640,8.698054,2.887377,2,no,3.103996,4,0.694536,no,9.242586,32,5.706113,2,9.034642,3.489954,2.724295,1.246149,3.419574,0.725560,6.910568,3.424716,0.668364,2.000154,8.972823,6.127073,1.161579,2.543747,12.649879,1.477723,1.852560,0.686252,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,4.841544,6.829889,0.709260,2.358840,0.230287,excellent,25.14,0.00,0,0,0,0,5,860.00,1500.00,1180.00,0,1,3,0,0,1,0,0,1,0,0,0,0,26.66,0.07,2,86600,5,94065,13,615.38,1076.92,846.15,0,5,6,1,0,1,0,1,2,0,4,2,0,21.53,7.71,3,102910,7,127065,17,694.12,1205.88,950.00,0,6,7,1,2,1,0,1,5,0,4,9,0,22.37,19.25,4,165510,8,179065,21,695.24,1190.48,942.86,0,7,8,3,2,1,0,1,5,0,4,11,0,18.07,27.32,12,821986,14,491565,30,631.03,1086.21,858.62,1,11,11,4,2,1,0,1,7,0,6,19,1,10.26,27.47,66,2690465,40,2034942,177,673.81,1148.81,911.31,9,49,65,36,15,3,0,15,29,1,10,66,14,6000000
2,3,2.120999,1.637996,17.351515,1.445960,0.049102,0.158072,0.374848,0.453172,0.939275,4.912660,3.381083,11.996480,1.277658,15.331896,3.0,1.277658,1.701420,3,0.328756,3.945073,0.468265,no,5.604800,2.927487,6.963403,8.054252,9.067885,0.647250,3,no,2.927487,4,0.700691,no,9.540544,5,6.710302,3,5.777394,7.506612,0.772216,1.602183,3.682455,3.562188,5.752368,1.375443,0.733101,1.239304,1.978517,0.767569,1.952771,0.621357,7.682303,0.097144,0.841254,1.510089,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,7.922152,4.273200,3.156423,4.958214,0.190462,poor,1.67,0.00,0,0,0,0,3,666.67,1166.67,916.67,0,0,2,1,0,0,0,0,0,0,0,0,0,4.99,0.29,0,0,0,0,9,642.86,1142.86,892.86,2,0,5,2,0,0,0,0,1,0,0,5,3,9.92,6.73,0,0,1,2600,14,516.67,916.67,716.67,2,4,6,2,0,0,0,0,4,0,0,6,5,12.99,12.75,4,100200,7,52550,24,563.64,977.27,770.45,2,8,9,4,1,0,0,0,4,0,0,8,5,12.14,26.46,8,110856,7,52550,41,697.44,1192.31,944.87,2,9,17,9,3,1,0,0,11,0,0,20,6,13.69,21.58,43,1478160,35,1572990,122,702.68,1196.43,949.55,10,29,45,25,10,3,0,11,27,0,4,67,10,5700000
3,4,1.489049,0.984537,11.565624,0.963802,0.179441,0.236455,0.078090,0.106125,0.451173,15.623710,2.017080,14.317640,4.291432,51.497190,4.0,3.816045,5.271136,4,0.131597,1.579164,1.200336,no,2.677824,14.606501,17.457198,18.309433,19.487005,2.677824,1,no,2.780449,17,1.999265,no,17.478380,83,6.734618,1,27.667863,9.522538,6.348716,1.767612,11.178333,0.583025,27.892717,0.811275,0.623484,1.950317,6.483172,7.385521,4.923843,3.549558,8.789894,2.163735,10.903161,0.622272,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,15.300449,16.990677,16.041521,5.029696,0.465820,good,17.36,0.57,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,0,0,0,0,0,0,19.25,10.35,1,11000,6,80780,12,658.33,1083.33,870.83,0,3,4,5,0,0,0,0,0,0,0,3,1,28.38,6.57,2,11000,7,89492,23,673.91,1130.43,902.17,0,5,9,8,1,0,0,1,0,0,0,9,2,32.29,5.73,2,11000,7,89492,25,660.00,1120.00,890.00,0,5,11,8,1,0,0,1,1,0,0,13,2,20.79,3.57,4,167000,12,205756,32,718.75,1218.75,968.75,0,5,14,10,3,0,0,1,2,0,0,18,3,14.18,3.89,8,244166,22,942180,61,931.58,1552.63,1242.11,4,7,21,15,11,2,1,4,4,0,0,26,3,13100000
4,5,1.257186,0.876620,8.266305,0.688859,0.247901,0.376838,0.258289,0.236214,0.392871,10.683540,2.936581,11.903910,0.853960,10.247521,5.0,1.595898,2.156284,113,0.071480,0.857764,0.820294,no,11.616653,1.721834,0.046810,0.787593,2.578671,1.721834,4,no,3.133531,10,0.084113,yes,1.595898,113,1.423428,4,6.515857,8.671016,1.638318,3.632640,4.587917,2.609420,9.155057,1.969738,0.220288,2.544696,3.975401,3.610754,0.307915,1.864637,3.779781,1.121703,0.991683,0.892668,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,2.584370,1.112486,1.800125,1.339652,0.026102,excellent,3.56,4.44,15,293699,1,45000,48,702.22,1166.67,934.44,3,17,10,11,7,0,0,1,4,0,2,3,0,3.34,8.29,46,420952,3,158200,153,763.45,1272.41,1017.93,8,39,45,39,19,2,1,7,12,0,6,7,0,4.12,4.83,93,1195735,9,445900,272,766.80,1272.73,1019.76,19,70,74,72,30,6,1,18,30,0,10,14,2,4.53,5.02,149,1625130,17,564843,483,765.93,1269.23,1017.58,28,130,129,131,50,14,1,35,61,0,17,21,3,5.06,8.62,305,3420907,60,2296870,1068,853.03,1410.45,1131.74,63,266,267,262,149,57,4,70,121,1,40,77,5,8.38,10.92,689,8404624,114,3503058,2283,853.88,1411.45,1132.66,143,566,578,552,319,108,17,135,236,2,91,195,14,16331452

ID_metro и далие отсечка для болие глубоких признаков выделим это в 

Признаки II очереди
---
---

In [113]:
df_x2 = df.loc[:, 'ID_metro':]

## Итог
### визуального осмотра признаков

Это разделение на несколько dataset - ов

df_y - искомая переменная  
df_x1 - основные признаки  
df_x2 - второстепенные глубокие признаки  
df_sub_area - повторяющиеся данные района  

---
обеденним все действия по разделению dataset в одну функцию ниже

---
## split_df
---

In [167]:
def split_df(df):
    try:
        df_y = df['price_doc']
    except KeyError:
        df_y = None
    
    df_x1 = df.loc[:, :'sub_area']
    df_sub_area = df.loc[:,'sub_area': 'build_count_after_1995'].groupby(by=['sub_area']).mean()
    df_x2 = df.loc[:, 'ID_metro':]
    
    return df_y, df_x1, df_x2, df_sub_area

In [168]:
df = pd.read_csv(PATH_TRAIN)

df_y, df_x1, df_x2, df_sub_area = split_df(df)

---

# Начнем работу с пропусками и выбросами

В этом блоке все необходимые операции над преобразованием признаков сразу пишутся в функции ниже

In [238]:
# Процентный список пропущенных данных
df_x1.isna().mean().round(4)*100

id               0.00
timestamp        0.00
full_sq          0.00
life_sq         20.95
floor            0.55
max_floor       31.41
material        31.41
build_year      44.65
num_room        31.41
kitch_sq        31.41
state           44.50
product_type     0.00
sub_area         0.00
dtype: float64

In [224]:
df_x1.describe()

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state
count,30471.000000,30471.000000,24088.000000,30304.000000,20899.000000,20899.000000,1.686600e+04,20899.000000,20899.000000,16912.000000
mean,15237.917397,54.214269,34.403271,7.670803,12.558974,1.827121,3.068057e+03,1.909804,6.399301,2.107025
std,8796.501536,38.031487,52.285733,5.319989,6.756550,1.481154,1.543878e+05,0.851805,28.265979,0.880148
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000
25%,7620.500000,38.000000,20.000000,3.000000,9.000000,1.000000,1.967000e+03,1.000000,1.000000,1.000000
50%,15238.000000,49.000000,30.000000,6.500000,12.000000,1.000000,1.979000e+03,2.000000,6.000000,2.000000
75%,22855.500000,63.000000,43.000000,11.000000,17.000000,2.000000,2.005000e+03,2.000000,9.000000,3.000000
max,30473.000000,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000

In [283]:
df_x1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30471 non-null  int64
 1   timestamp     30471 non-null  object
 2   full_sq       30471 non-null  int64
 3   life_sq       24088 non-null  float64
 4   floor         30304 non-null  float64
 5   max_floor     20899 non-null  float64
 6   material      20899 non-null  float64
 7   build_year    16866 non-null  float64
 8   num_room      20899 non-null  float64
 9   kitch_sq      20899 non-null  float64
 10  state         16912 non-null  float64
 11  product_type  30471 non-null  object
 12  sub_area      30471 non-null  object
dtypes: float64(8), int64(2), object(3)
memory usage: 3.0+ MB

In [243]:
# Видно желая площадь не может быть больше всей площади, надо обработать ошибку
df_x1[df_x1['full_sq'] < df_x1['life_sq']]

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area
1084,1085,2012-02-06,44,281.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo
1188,1189,2012-02-14,10,44.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Veshnjaki
1822,1825,2012-04-09,18,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Ljublino
1863,1866,2012-04-11,30,178.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Presnenskoe
2009,2012,2012-04-25,10,40.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Gol'janovo
4385,4388,2012-10-25,73,426.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Vojkovskoe
6336,6339,2013-03-06,37,191.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Kosino-Uhtomskoe
6531,6534,2013-03-15,80,88.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Pokrovskoe Streshnevo
6993,6996,2013-04-03,73,77.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Nekrasovka
7208,7211,2013-04-10,31,195.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Cheremushki
8101,8104,2013-05-23,37,38.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Nekrasovka
9237,9240,2013-07-16,47,301.0,4.0,12.0,1.0,1973.0,2.0,6.0,2.0,Investment,Birjulevo Zapadnoe
9256,9259,2013-07-17,77,458.0,12.0,16.0,1.0,1996.0,3.0,10.0,3.0,Investment,Jasenevo
9482,9485,2013-07-27,52,53.0,12.0,1.0,1.0,1983.0,2.0,8.0,3.0,Investment,Juzhnoe Medvedkovo
9646,9649,2013-08-06,82,802.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Chertanovo Juzhnoe
11332,11335,2013-10-18,10,40.0,10.0,17.0,1.0,2013.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Shherbinka
11711,11714,2013-10-31,56,58.0,15.0,17.0,1.0,1986.0,2.0,10.0,2.0,Investment,Kon'kovo
11784,11787,2013-11-02,46,59.0,12.0,17.0,1.0,1987.0,3.0,9.0,3.0,Investment,Fili Davydkovo
12569,12572,2013-11-27,56,60.0,3.0,25.0,4.0,2014.0,2.0,10.0,1.0,OwnerOccupier,Mitino
13546,13549,2013-12-30,79,7478.0,8.0,17.0,1.0,2014.0,3.0,1.0,1.0,OwnerOccupier,Poselenie Voskresenskoe
13629,13632,2014-01-10,45,259.0,5.0,5.0,1.0,1970.0,2.0,5.0,NaN,Investment,Poselenie Moskovskij
13797,13800,2014-01-16,32,163.0,3.0,5.0,5.0,1963.0,1.0,6.0,3.0,Investment,Poselenie Shherbinka
14799,14802,2014-02-10,73,77.0,10.0,17.0,1.0,2014.0,3.0,1.0,1.0,OwnerOccupier,Nekrasovka
16067,16070,2014-03-15,50,52.0,11.0,12.0,2.0,2014.0,2.0,1.0,1.0,OwnerOccupier,Poselenie Filimonkovskoe
16116,16119,2014-03-17,84,85.0,5.0,0.0,1.0,0.0,3.0,11.0,1.0,OwnerOccupier,Poselenie Sosenskoe
16284,16287,2014-03-20,33,62.0,2.0,10.0,1.0,2014.0,2.0,1.0,1.0,OwnerOccupier,Poselenie Krasnopahorskoe
20672,20675,2014-07-08,44,45.0,2.0,3.0,1.0,NaN,1.0,1.0,1.0,OwnerOccupier,Zapadnoe Degunino
21080,21083,2014-07-24,52,349.0,1.0,9.0,1.0,1979.0,3.0,6.0,2.0,Investment,Solncevo
22412,22415,2014-09-11,10,47.0,11.0,17.0,1.0,2014.0,1.0,1.0,1.0,OwnerOccupier,Presnenskoe
22611,22614,2014-09-17,37,38.0,9.0,9.0,1.0,2016.0,1.0,1.0,1.0,OwnerOccupier,Nagatinskij Zaton
22804,22807,2014-09-23,54,55.0,5.0,9.0,1.0,2016.0,2.0,1.0,1.0,OwnerOccupier,Nagatinskij Zaton
24296,24299,2014-11-05,10,77.0,4.0,17.0,1.0,0.0,3.0,0.0,1.0,OwnerOccupier,Poselenie Vnukovskoe
24428,24431,2014-11-07,74,78.0,13.0,25.0,4.0,2015.0,3.0,1.0,1.0,OwnerOccupier,Nekrasovka
26264,26267,2014-12-11,10,60.0,17.0,17.0,1.0,2014.0,2.0,1.0,1.0,Investment,Nekrasovka
26342,26345,2014-12-12,75,435.0,3.0,22.0,1.0,1999.0,3.0,9.0,3.0,Investment,Mitino
26363,26366,2014-12-12,10,64.0,22.0,22.0,1.0,NaN,2.0,1.0,1.0,OwnerOccupier,Chertanovo Juzhnoe
29302,29305,2015-04-22,56,57.0,4.0,9.0,2.0,1973.0,3.0,5.0,1.0,Investment,Presnenskoe

In [241]:
# ошибочные значения по нижней границы
df_x1[df_x1['full_sq'] < 10]

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area
1188,1189,2012-02-14,9,44.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Veshnjaki
2009,2012,2012-04-25,5,40.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Gol'janovo
6112,6115,2013-02-22,6,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Poselenie Voskresenskoe
11332,11335,2013-10-18,1,40.0,10.0,17.0,1.0,2013.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Shherbinka
16289,16292,2014-03-20,1,1.0,1.0,1.0,4.0,1.0,1.0,1.0,3.0,OwnerOccupier,Poselenie Voskresenskoe
16738,16741,2014-03-31,1,1.0,1.0,1.0,4.0,1.0,1.0,1.0,3.0,OwnerOccupier,Poselenie Voskresenskoe
17194,17197,2014-04-09,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Pokrovskoe Streshnevo
17932,17935,2014-04-28,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,OwnerOccupier,Poselenie Voskresenskoe
18600,18603,2014-05-19,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,OwnerOccupier,Tverskoe
22171,22174,2014-09-03,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe
22412,22415,2014-09-11,1,47.0,11.0,17.0,1.0,2014.0,1.0,1.0,1.0,OwnerOccupier,Presnenskoe
22722,22725,2014-09-20,1,1.0,1.0,25.0,1.0,2014.0,1.0,1.0,1.0,OwnerOccupier,Nekrasovka
22795,22798,2014-09-23,1,1.0,7.0,19.0,1.0,2015.0,3.0,1.0,1.0,OwnerOccupier,Poselenie Shherbinka
22871,22874,2014-09-24,1,1.0,1.0,1.0,1.0,2015.0,1.0,1.0,1.0,OwnerOccupier,Nekrasovka
23048,23051,2014-09-29,1,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,OwnerOccupier,Horoshevo-Mnevniki
23228,23231,2014-10-03,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Nagatinskij Zaton
23573,23576,2014-10-15,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Nagornoe
23726,23729,2014-10-20,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Nekrasovka
24296,24299,2014-11-05,0,77.0,4.0,17.0,1.0,0.0,3.0,0.0,1.0,OwnerOccupier,Poselenie Vnukovskoe
24627,24630,2014-11-12,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Voskresenskoe
24892,24895,2014-11-18,1,1.0,26.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Levoberezhnoe
25569,25572,2014-12-01,1,1.0,1.0,17.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Desjonovskoe
25887,25890,2014-12-05,1,1.0,19.0,4.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Mitino
26264,26267,2014-12-11,1,60.0,17.0,17.0,1.0,2014.0,2.0,1.0,1.0,Investment,Nekrasovka
26363,26366,2014-12-12,1,64.0,22.0,22.0,1.0,NaN,2.0,1.0,1.0,OwnerOccupier,Chertanovo Juzhnoe
26386,26389,2014-12-13,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Moskovskij
26582,26585,2014-12-16,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Nagornoe
26925,26928,2014-12-20,1,1.0,17.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Desjonovskoe
27154,27157,2014-12-26,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Nagornoe

In [255]:
#167 значений - заполнить!
df_x1[df_x1['floor'].isna()]

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area
178,179,2011-10-22,98,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Kurkino
187,188,2011-10-24,49,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton
195,196,2011-10-25,37,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton
215,216,2011-10-26,45,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Chertanovo Juzhnoe
294,295,2011-11-05,33,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Novogireevo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9699,9702,2013-08-08,146,146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Poselenie Pervomajskoe
9727,9730,2013-08-09,82,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Troickij okrug
9847,9850,2013-08-15,79,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Poselenie Voskresenskoe
9866,9869,2013-08-16,146,146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Poselenie Pervomajskoe
10029,10032,2013-08-23,60,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Nekrasovka

In [266]:
# Пропусков много, такой столбец удалить бы но =) заполним ради спортивного интереса
df_x1[df_x1['max_floor'].isna()]

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Mitino
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Basmannoe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10290,10293,2013-09-05,47,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Troickij okrug
10304,10307,2013-09-05,65,60.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Poselenie Voskresenskoe
10328,10331,2013-09-06,37,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Severnoe Tushino
10389,10392,2013-09-10,38,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Nekrasovka
10420,10423,2013-09-11,74,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Juzhnoe Butovo

In [272]:
# видно, что все пропуски материала зданий индентичны количеству этажей 
(df_x1[df_x1['material'].isna()].index == df_x1[df_x1['max_floor'].isna()].index).sum()

9572

In [273]:
# и также индентичны количеству комнат 
(df_x1[df_x1['material'].isna()].index == df_x1[df_x1['num_room'].isna()].index).sum()

9572

ПОжалую удалим строкии с пропусками max_floor, material, num_room  
но для тестовых значений придется искать усредненые или типовые среднии

In [282]:
# Признак имеет много пропусков а также ошибок, так как трудно его определить НА УДАЛЕНИЕ целиком признак!
df_x1[df_x1['build_year'] < 1000]

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area
9441,9444,2013-07-25,73,73.0,5.0,22.0,1.0,0.0,3.0,0.0,NaN,OwnerOccupier,Poselenie Vnukovskoe
9620,9623,2013-08-05,65,35.0,7.0,12.0,1.0,1.0,2.0,1.0,1.0,OwnerOccupier,Zapadnoe Degunino
9700,9703,2013-08-08,60,NaN,24.0,24.0,1.0,1.0,2.0,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe
9745,9748,2013-08-09,39,39.0,10.0,17.0,1.0,1.0,1.0,12.0,1.0,OwnerOccupier,Nekrasovka
9764,9767,2013-08-12,119,NaN,24.0,1.0,1.0,1.0,1.0,1.0,1.0,OwnerOccupier,Mitino
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30394,30397,2015-06-24,52,52.0,14.0,17.0,1.0,1.0,2.0,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe
30425,30428,2015-06-25,64,NaN,13.0,17.0,1.0,0.0,2.0,1.0,1.0,OwnerOccupier,Solncevo
30429,30432,2015-06-26,42,NaN,7.0,17.0,6.0,0.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe
30430,30433,2015-06-26,52,NaN,11.0,17.0,1.0,0.0,2.0,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe
30451,30454,2015-06-29,37,NaN,3.0,3.0,1.0,0.0,1.0,1.0,1.0,OwnerOccupier,Poselenie Novofedorovskoe

In [385]:
def moustache(s):
    # Принемает series
    # Возращает значения усов нормального распределения
    q75,q25 = np.percentile(s,[75,25])
    iqr = q75 - q25
    return q25 - 1.5*iqr, q75 + 1.5*iqr

In [398]:

def cleaning_x1(df):
    # копия что-бы в эксперементах не испортить dataset
    res = df.copy()

    # уберем ошибочные значения по нижней границы
    res.loc[res['full_sq'] < 10, 'full_sq'] = 10
    res.loc[res['life_sq'] < 10, 'life_sq'] = res.loc[res['life_sq'] < 10, 'full_sq']

    # жилую площадь обработаем просто
    res.loc[res['life_sq'].isna(), 'life_sq'] = res.loc[res['life_sq'].isna(), 'full_sq']

    # Заполним пропуски этажа
    index_nan_floor = list(res[res['floor'].isna()].index)
    for i in tqdm(index_nan_floor, desc='floor'):
        mode_floor = res[res['sub_area'] == res.loc[i]['sub_area']]['max_floor'].mode()[0] // 2
        res.loc[i, 'floor'] = mode_floor

    # Заполнение max_floor
    index_nan_max_floor = list(res[res['max_floor'].isna()].index)
    for i in tqdm(index_nan_max_floor, desc='max_floor'):
        mode_max_floor = res[res['sub_area'] == res.loc[i]['sub_area']]['max_floor'].mode()[0]
        res.loc[i, 'max_floor'] = mode_max_floor
    
    # Пропуски по количеству комнат заполним по похожим площадям
    index_nan_num_room = list(res[res['num_room'].isna()].index)
    sq_one_room = (df_x1[~df_x1['num_room'].isna()]['full_sq'] / 
                   df_x1[~df_x1['num_room'].isna()]['num_room']).median()
    for i in tqdm(index_nan_num_room, desc='num_room'):
        if res.loc[i, 'full_sq'] < sq_one_room:
            res.loc[i, 'num_room'] = 1
        else:
            res.loc[i, 'num_room'] = res.loc[i, 'full_sq'] // sq_one_room
    
    # Удалим по причине мультиколлинеарности и большого количество пропусков
    res.drop(columns=['kitch_sq'], axis=1, inplace=True)
    return res

tmp = cleaning_x1(df_x1)

floor: 100%|██████████████████████████████████████████████████████| 167/167 [00:00<00:00, 184.41it/s]
max_floor: 100%|████████████████████████████████████████████████| 9572/9572 [00:53<00:00, 180.58it/s]
num_room: 100%|████████████████████████████████████████████████| 9572/9572 [00:05<00:00, 1777.59it/s]

In [399]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30471 non-null  int64
 1   timestamp     30471 non-null  object
 2   full_sq       30471 non-null  int64
 3   life_sq       30471 non-null  float64
 4   floor         30471 non-null  float64
 5   max_floor     30471 non-null  float64
 6   material      20899 non-null  float64
 7   build_year    16866 non-null  float64
 8   num_room      30471 non-null  float64
 9   state         16912 non-null  float64
 10  product_type  30471 non-null  object
 11  sub_area      30471 non-null  object
dtypes: float64(7), int64(2), object(3)
memory usage: 2.8+ MB